@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">

    #box {
        width: 800px;
        height: 500px;
        background: #f0f3f9;
        margin: 10px;
        border:1px solid gray;
        float:left;
    }

    #tools {
        width: 200px;
        height: 500px;
        background: #f0f3f9;
        border:1px solid gray;
        padding: 5px;
        margin: 10px;
        float: left;
    }

    .layout {
        border: 1px dashed gray;
        height:80px;
        left:100px;
    }
</style>

<div style="clear:both;"></div>
<div style="float:left;">
    <div id="tools">
        <ul>
            <li>Coffee</li>
            <li>Milk</li>
        </ul>
    </div>
    <div id="box">
       <div class="layout"></div>
    </div>
</div>

<div style="clear:both;"></div>
<script src="~/Scripts/DragDrop/DragDrop.js" type="text/javascript"></script>
<script type="text/javascript">
    DragDrop("box");
</script>